In [1]:
import pandas as pd
data = pd.read_csv('Food_Weights.csv', sep=';')

In [28]:
data.head()

                   Food Measure       Grams Calories quantity unit
0        Dairy products       0         NaN      NaN        0
1     Cows' milk, whole   1 lt.  1031,32944      660       1   lt.
2      Cows' milk, skim   1 lt.  1039,78296      360       1   lt.
3  Buttermilk, cultured   1 lt.  1025,00082      127       1   lt.
4       Evaporated milk   1 lt.  1050,00084      345       1   lt.

In [17]:
data['Measure'].unique()

array(['0', '1 lt.', '1 cup', '1/2 cup', '1-in. cube', '1 oz.', '1',
       '1T.', '1/4\xa0lb.', '1 T.', '2 oz.', '2 slices', '3 oz.', '1 pie',
       '3 1/2 oz.', '3 med.', '4 oz.', '5', '1 small', 'aver.',
       '6-8 med.', '120', '1 steak', '1 med.', '6 small', '1 mad.',
       '10 pieces', '3/4 cup', '10', '5 small', '4 cups', '1 large',
       '6 spears', '1 ear', '8', '1/4 head', '4', '1 1/3 cups', '2 T.',
       '01. Feb', '6-oz. can', '8 oz. or', '1/3 cup', '1 med',
       '1/2 large', '1/2 med.', '2', '3', '1 large slice', 'I med.',
       '1 wedge', '1 slice', '1-lb. loaf', '1 serving', '2 med.',
       '1 section', '2 cups', '2 pieces', '2-oz. bar', '12 oz.'],
      dtype=object)

In [10]:
data['Measure'] = data['Measure'].fillna(0)
data['Measure']=data['Measure'].apply(str)

In [16]:
# for quantity: remove everything that is not numbers or /
import re
def extract_quantity(quantity_str):
    return re.sub("[^0-9/ ]", "", quantity_str)   
data['quantity'] = data['Measure'].apply(extract_quantity)

In [19]:
# for unit: remove everything that is numbers or /
def extract_unit(unit_str):
    return re.sub("[^a-zA-Z.]", "", unit_str)
data['unit'] = data['Measure'].apply(extract_unit)

In [21]:
clean_data = pd.DataFrame(list(zip(data.Food, data.quantity, data.unit, data.Grams)), columns = ['Food', 'quantity', 'unit', 'weight'])

In [23]:
clean_data['unit'].unique()

array(['', 'lt.', 'cup', 'in.cube', 'oz.', 'T.', 'lb.', 'slices', 'pie',
       'med.', 'small', 'aver.', 'steak', 'mad.', 'pieces', 'cups',
       'large', 'spears', 'ear', 'head', '.Feb', 'oz.can', 'oz.or', 'med',
       'largeslice', 'Imed.', 'wedge', 'slice', 'lb.loaf', 'serving',
       'section', 'oz.bar'], dtype=object)

In [65]:
clean_data.head()

                   Food quantity unit      weight quantity_2
0        Dairy products        0              NaN          0
1     Cows' milk, whole       1   lt.  1031,32944
2      Cows' milk, skim       1   lt.  1039,78296
3  Buttermilk, cultured       1   lt.  1025,00082
4       Evaporated milk       1   lt.  1050,00084

In [64]:
def to_numeric(quantity):
    if not '/' in quantity and not ' ' in quantity and quantity.isdigit():  # if only numbers convert to float
        return float(quantity)
    elif not ' ' in quantity and quantity.isdigit():
        return 
    else: 
        return ' '
clean_data['quantity_2'] = clean_data['quantity'].apply(to_numeric) # else numbers and / convert to fraction
# convert fraction to float with pd.eval

In [42]:
test = '1/2'
test = test.split('/')
test_num1 = float(test[0])
test_num2 = float(test[1])
test_num = test_num1 / test_num2
test_num

0.5

In [66]:
clean_data[['quantity']].apply(pd.eval)

SyntaxError: invalid syntax (<unknown>, line 1)

In [ ]:
clean_data['quantity'].unique()

In [ ]:
#1/2, 1/4, 3/4, 1/3

In [ ]:
clean_data['unit'].unique()

In [ ]:
#cup, cube, oz., lb., slices, pie, steak, mad., pieces, cups, spears, ear, Feb, can, wedge, slice, section, bar
clean_data2 = clean_data[clean_data.unit != 'cup']

In [ ]:
clean_data2